    node_modules
    .next
    dist
    out
    public
    .vscode
    coverage
    lib/generated/prisma
    pnpm-lock.yaml
    pnpm-workspace.yaml
    yarn.lock
    package-lock.json
    .turbo

    