# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore dataset file
*.csv

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter notebook metadata (optional)
*.nbconvert.ipynb
